<!DOCTYPE html>
<html>
<title>Splitment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="templates/css/w3.css"> <!-- https://www.w3schools.com/w3css/4/w3.css -->
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<!-- Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Splitment</a>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications" id="navbar-notif"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">1</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px" id="navbar-notif-dropdown">
      <a href="#" class="w3-bar-item w3-button">Welcome! Click on Help to learn more.</a>
    </div>
  </div>

  <button class="w3-button w3-padding-large" title="Help" id="navbar-help"><i class="fa fa-question"></i></button>

  <a href="/logout" class="w3-margin-right w3-text-theme w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout" id="navbar-logout">
    <i class="fa fa-power-off fa-fw w3-margin-right w3-text-theme"></i>Logout
  </a>
  <a href="#" class="w3-margin-right w3-text-theme w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Login/Signup" id="navbar-login">
    <i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>Login/Signup
  </a>
 </div>
 <!-- End Navbar -->
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    
    <!-- Middle Column -->
    <div class="w3-col m12">
    
      <div class="w3-row-padding" id="login">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3 class="w3-opacity">Log in to begin...</h3>
              <!-- <p contenteditable="true" class="w3-border w3-padding" ></p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>  -->
              <form method="POST" action="login">
                <input class="w3-input" type="text" placeholder="Email" id="login-email" name="login-email" display="inline-block"></input>
                <input class="w3-input" type="password" placeholder="Password" id="login-password" name="login-password"></input>
                <button type="submit" class="w3-button w3-theme" id="login-input-btn"><i class="fa fa-arrow-circle-right"></i>  Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="w3-row-padding" id="register">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h3 class="w3-opacity">Sign up to begin...</h3>
              <!-- <p contenteditable="true" class="w3-border w3-padding" ></p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>  -->
              <form method="POST" action="signup">
                <input class="w3-input" type="text" placeholder="Name" id="signup-name" name="signup-name" display="inline-block"></input>
                <input class="w3-input" type="email" placeholder="Email" id="signup-email" name="signup-email" display="inline-block"></input>
                <input class="w3-input" type="text" placeholder="Address" id="signup-address" name="signup-address"></input>
                <input class="w3-input" type="password" placeholder="Password" id="signup-password" name="signup-password"></input>
                <input class="w3-input" type="password" placeholder="Confirm Password" id="signup-password-confirm" name="signup-password-confirm"></input>
                <button type="submit" class="w3-button w3-theme" id="signup-input-btn"><i class="fa fa-arrow-circle-right"></i>  Signup</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    <!-- End Middle Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Splitment</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 
<script>
</script>

</body>
</html> 
